$gray: #f2f2f2;
$orange: #ffa500;
$text-color: #6b6b6b;
$grad-ind-f: #ffd1fb;
$grad-ind-s: #fad0c6;
$gray-text-pay: #b2b2b2;
$head-font: 'Open Sans';
$title-font: 'Roboto';
$text-font: 'Montserrat';
$all: 200;
